 <div class="row" ng-controller='laptopCtrl' ng-init="alllaptop()">
    <div class="col-sm-2" style="background-color:lavender;">
        <input type="range" min="20000" max="120000" value="50000" ng-model='slider' ng-mouseup='priceFilter()'>
        <p ng-model='slider'>MAX PRICE : {{slider}}</p>
    </div>
    <div class="col-sm-10" style="background-color:lavenderblush;">
        <ul list-style-type = none>
            <li ng-model='dataList' ng-repeat='data in dataList'>
                       <div class="card" style="width: 40rem;">
                            <img class="card-img-top" src="{{data.image}}" alt="laptop image" height=100px width = 150px >
                            <div class="card-block">
                                <h4 class="card-title">{{data.name}}</h4>
                                <p class="card-text">{{data.category}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                               <li class="list-group-item">{{data.sd}}</li>
                               <li class="list-group-item">{{data.cost}}</li>
                            </ul>
                       <div class="card-block">
                        <input type="button" name="description" ng-model=data.id ng-click="seeDescription(data.id)" value="DESCRIPTION" />
                        </div>
                        </div>           
            </li>
        </ul>
    </div>
  </div>